---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus-kalavai-frdun02
  namespace: mon
  labels:
    geo: kalavai-frdun02
spec:
  replicas: 1
  serviceMonitorSelector:
    matchLabels:
      geo: kalavai-frdun02
  podMetadata:
    labels:
      geo: kalavai-frdun02
  nodeSelector:
    geo: kalavai-frdun02
    monitoring: "true"
  resources:
    requests:
      memory: 2Gi
      cpu: 500m
#  serviceAccountName: prometheus-instance
#  storage:
#    volumeClaimTemplate:
#      spec:
#        accessModes: ["ReadWriteOnce"]
#        resources:
#          requests:
#            storage: 20Gi
  version: v3.8.1
  remoteWrite:
  - url: http://mon-mimir-distributor:8080/api/v1/push
    headers:
      "X-Scope-OrgID": "0"
