image_tag: latest

deployment:
  nodeSelector: null
  in_cluster: "True"
  kalavai_username_key: "kalavai.cluster.user"
  replicas: 1
  use_auth_key: "True"
  admin_key: "somerandomkey"
  readonly_key: "anotherkey"
  write_key: "anotherkey2"
  is_shared_pool: "True"
  static_workspace: null
  kalavai_api_endpoint: "https://platform.kalavai.net/_/api"
  prometheus_endpoint: "prometheus-server.prometheus-system.svc.cluster.local:80"
  opencost_endpoint: "opencost.opencost.svc.cluster.local:9003"
  longhorn_manager_endpoint: "longhorn-backend.kalavai.svc.cluster.local:9500"

labels: null

service:
  type: NodePort
  nodePort: null

resources:
  requests:
    cpus: 0.5
    memory: 256Mi
  limits:
    cpus: 1
    memory: 512Mi
    