apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  namespace: {{ .Release.Namespace }}
  {{- if .Values.labels }}
  labels:
    {{- toYaml .Values.labels | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: 8000
    targetPort: 8000
  {{ if .Values.service.nodePort }}
    nodePort: {{ .Values.service.nodePort }}
  {{ end }}
  selector:
    app: {{ .Release.Name }}-app