apiVersion: apps/v1
kind: Deployment
metadata:
  name: kalavai-gui
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kalavai-gui
  template:
    metadata:
      labels:
        app: kalavai-gui
    spec:
      containers:
      - name: kalavai-gui
        image: kalavai/kalavai-gui:{{ .Values.image_tag }}
        imagePullPolicy: "IfNotPresent"
        command: ["/bin/sh", "-c"]
        args:
        - |
          reflex run \
            --backend-port {{ .Values.service.backend_nodePort }} \
            --frontend-port {{ .Values.deployment.internal_gui_port }} \
            --backend-host {{ .Values.deployment.internal_backend_host}}
        ports:
        - containerPort: {{ .Values.deployment.internal_gui_port }}
        - containerPort: {{ .Values.deployment.internal_backend_port }}
        env:
        - name: KALAVAI_BRIDGE_URL
          value: "{{ .Values.deployment.bridge_api_url }}"
        - name: KALAVAI_BRIDGE_PORT
          value: "{{ .Values.deployment.bridge_api_port }}"
        {{ if .Values.deployment.access_key }}
        - name: ACCESS_KEY
          value: "{{ .Values.deployment.access_key }}"
        {{ end }}
        resources:
          requests:
            cpu: 0.25
            memory: 0.2Gi
          limits:
            cpu: 0.25
            memory: 0.2Gi
    